@import "src/main-styles";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60rem;
  max-height: 40rem;
  //height: 30rem;
  background-color: $block-color2;
  //margin-top: 30rem;
  border-radius: 12px;
  overflow-y: scroll;
}
