@import "src/main-styles";

.tab-button {
  flex: 1 1 100%;
  width: 100%;
  color: $white;
  background-color: transparent;
  font-weight: 400;
  border-style: none;
  font-size: 30px;
  padding: 0.4rem 2rem;
  transition: background-color 0s;

  &.selected {
    background-color: $yellow;
    font-weight: 600;
  }

  cursor: pointer;
}

#side-panel {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

#about-help {
  margin-top: 1rem;
  border-style: solid;
  border-color: $border-color;
  border-width: 0px;
  border-top-width: 1px;
  display: flex;
  width: 100%;
  flex-direction: column;
}
