@import "src/main-styles";

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  background-color: white;
  height: 25rem;
  border-radius: 20px;
  width: 50rem;
}

.account-image {
  //width: 100%;
  height: 25rem !important;
  width: 25rem !important;
  object-fit: cover;
  //overflow: ;`
  background-size: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}


// .image-container {
//   object-fit: contain;
//   height: 100%;
//   width: 35rem;
//   //background-color: white;
//   background-size: cover;
//   border-top-left-radius: 20px;
//   border-bottom-left-radius: 20px;
// }

#inputs {
  flex: 1 1 100%;
  height: 100%;
}

.fix-class {
  margin: 2.5rem auto auto;
  width: 70% !important;
  height: 3rem;
  text-align: center !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;

  &:active {
    color: white;
    background-color: $yellow !important;
  }
}

.change-password-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.5rem;
  background-color: #FBFBFB;
  border-radius: 20px;
  height: 75%;
  //width: 90%;

}

#login-button {
  background-color: #FBFBFB;
  padding: 1rem 5rem;
  margin: auto;
  width: 100%;
  text-align: center !important;
  justify-content: center !important;
  align-content: center !important;
  align-items: center !important;
  height: 4rem;

}
