<div class="Header">
  <h1 class="header-text">Account</h1>
</div>

<div class="container">
  <img class="account-image" src="{{getPath(user.avatarId)}}">
  <div id="inputs">
    <app-data [defaultText]="'Name'" [text]="user.name"></app-data>
    <app-data [defaultText]="'Username'" [text]="user.username"></app-data>
    <app-data [defaultText]="'Birthday day'" [text]="user.birthdayDay.toString()"></app-data>
    <app-data [defaultText]="'Country'" [text]="user.country"></app-data>
    <app-data [defaultText]="'Description'" [text]="user.details"></app-data>
  </div>
</div>

<!--<app-data></app-data>-->
