<div class="Header">
  <h1 class="header-text">Account</h1>
</div>

<div class="container">
  <img class="account-image" src="assets/images/testImage.png">
  <div id="inputs">
    <app-data [defaultText]="'Name'"></app-data>
    <app-data [defaultText]="'Username'" [text]="'zelen1978'"></app-data>
    <app-data [defaultText]="'Birthday day'"></app-data>
    <app-data [defaultText]="'Country'"></app-data>
    <app-data [defaultText]="'Description'"></app-data>
  </div>
</div>

<!--<app-data></app-data>-->
