
.bot {
  margin-bottom: 1rem;
  padding: 2rem 8rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
}

span {
  font-size: 2.2rem;
  color: black;
}

#name {
  width: 40%;
}

#lang {
  width: 20%;
}

#date {
  width: 20%;
}

.edit-buttons {
  width: 20%;
  display: flex;
  justify-content: flex-end;

}


#edit {
  transform: scale(1.5,1.5);
  cursor: pointer;
  transition: color 0.08s;

  &:hover {
    color: #45DCCA;
  }
}

#delete {
  //width: %;
  transform: scale(1.5,1.5);

  cursor: pointer;
  transition: color 0.08s;

  &:hover {
    color: #FF6767;
  }
  margin-left: 5rem;
}
