<div class="container">

  <div class="content">
    <div id="header">Chess Game</div>
    <div id="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam animi aperiam assumenda aut commodi
      debitis
      dolor eaque earum et hic laboriosam libero maiores modi molestias nesciunt odio officia omnis provident qui quod
      repellat reprehenderit saepe similique sint, totam unde voluptatem. Alias aperiam architecto assumenda cumque
      deleniti
      distinctio dolore doloremque eos, esse et harum id impedit ipsa iure minima molestiae odio placeat, possimus
      praesentium recusandae sequi, vitae voluptatum? Animi blanditiis consequuntur deleniti dignissimos ducimus eum
      exercitationem, laboriosam laborum, magnam placeat possimus praesentium provident quia quibusdam quod rerum sequi
      totam velit, vitae voluptates. Accusamus aliquam amet consequatur consequuntur deleniti doloribus eligendi eos et
      id
      illum in libero magnam maxime minus neque nihil nobis obcaecati odit officiis porro, possimus quam quis reiciendis
      repellendus repudiandae saepe similique tempora tenetur velit voluptas! A, ab adipisci asperiores distinctio
      expedita
      fugiat harum minima natus nobis, odit, officiis quia quis quo temporibus vel. Adipisci alias aliquid atque aut
      doloremque eaque impedit, itaque obcaecati quia ullam? Ab beatae dolor earum exercitationem ipsum mollitia
      nesciunt
      nobis nostrum nulla obcaecati officiis optio pariatur, praesentium quisquam quo recusandae sunt temporibus tenetur
      veniam voluptates? A ab adipisci aliquam aperiam assumenda consectetur cum delectus dignissimos dolorum ea esse
      fuga
      id illo impedit inventore magni maiores minus molestiae molestias necessitatibus, nulla obcaecati odit omnis
      perferendis, porro quia quis quos, ratione repellat repellendus sint soluta unde vero! Accusantium architecto
      consequatur, deserunt dicta distinctio dolore exercitationem impedit iure libero nam nemo nihil nobis officia
      optio
      provident quam, quasi quibusdam, ratione recusandae tempora vero vitae voluptates. Dolorum ea ipsa laboriosam
      libero
      nesciunt nulla, numquam obcaecati odit possimus quisquam. Blanditiis culpa enim error impedit iusto quaerat
      reiciendis
      sapiente tempora temporibus? Accusantium, consequuntur delectus deserunt fuga iure mollitia nam odio quia saepe
      veritatis? Aliquam beatae consequuntur deserunt excepturi expedita facilis fuga illo ipsam itaque magnam,
      nesciunt,
      obcaecati placeat quam qui quibusdam quis sapiente similique sint soluta totam ut vel veritatis? Adipisci
      consequuntur
      eligendi impedit iste minus odio optio sunt veniam voluptates? Aperiam corporis deleniti dolore ex explicabo
      facilis
      incidunt ipsam iste nemo nesciunt nostrum officia pariatur quaerat quis, quod repudiandae sed? At blanditiis
      cupiditate dicta distinctio, dolorem ducimus error ex exercitationem facere facilis impedit inventore ipsam iste
      laborum libero, maxime minima omnis possimus quas quibusdam rem repellat similique sunt tempora, voluptate. Ab,
      assumenda dolorum error nobis odio perferendis temporibus? Doloremque incidunt laborum maiores nisi, perspiciatis
      quaerat quisquam repellat repellendus saepe vel, voluptas voluptatum. Ad blanditiis deleniti nostrum officiis
      quaerat
      quo rem ut! Aliquam autem doloremque eum excepturi expedita hic illum impedit maxime molestiae nam, necessitatibus
      omnis quod ratione soluta tempore veritatis voluptatem? A accusamus aliquid amet, aut consequatur cumque
      cupiditate
      debitis, eligendi excepturi fugiat incidunt modi nam natus nostrum sed sequi velit voluptas voluptatibus! Ab atque
      dolorem doloribus ducimus earum eveniet expedita iusto labore laborum magnam minus porro quasi quisquam sed sit,
      tempore tenetur vitae voluptates. Ad autem culpa cumque deserunt dignissimos esse fugiat in laudantium libero
      mollitia
      nesciunt, pariatur perferendis, quaerat saepe similique velit voluptates. Adipisci alias, consequatur dicta illo
      laborum laudantium magnam, minus nemo officiis optio quas quos totam, velit. A consequuntur culpa dolorem eaque
      eligendi est nam neque nihil omnis. Adipisci amet architecto beatae, consectetur delectus deleniti deserunt ea
      facilis
      hic illum, impedit ipsum minus molestias necessitatibus neque nihil officia officiis optio perferendis
      perspiciatis
      quidem quod reiciendis repudiandae sunt tempore tenetur veniam veritatis? Accusantium adipisci, assumenda
      consectetur
      consequatur deleniti doloribus eaque enim eos eum ex facilis inventore ipsum iste, iusto labore laborum nemo nobis
      odit officiis omnis placeat porro quaerat quam quod ratione recusandae sed tempora tenetur veniam voluptatem. At
      autem, fugit laboriosam laudantium nam nobis perspiciatis provident quos. Amet at deleniti excepturi inventore
      iusto
      optio pariatur rem, sit? A ab adipisci asperiores at atque aut blanditiis consectetur, dignissimos dolores,
      doloribus
      exercitationem expedita iure minus, molestiae mollitia nam nihil nobis numquam omnis perspiciatis provident quam
      sunt
      vero. Alias asperiores, at atque, aut corporis cupiditate deleniti dolor dolorum excepturi exercitationem facere
      iusto
      labore laborum nesciunt nobis non officiis quas qui sapiente suscipit temporibus ullam ut veniam veritatis vitae.
      Accusantium at consectetur cumque deserunt dolorem incidunt iste labore molestias numquam optio, quaerat quas qui
      quibusdam, ullam voluptate. A aperiam at consectetur distinctio, doloribus dolorum eaque esse et eveniet excepturi
      fuga illum impedit iste magni molestiae, obcaecati omnis optio pariatur quasi quibusdam repudiandae rerum tempore
      voluptas. Aliquid asperiores assumenda consequatur deserunt dolores ea esse eum exercitationem, iusto, labore
      libero
      necessitatibus neque nulla perferendis porro possimus quae quas quasi quidem quo quos ratione sequi totam unde
      veniam
      veritatis voluptate? Accusantium aperiam, at, doloremque est incidunt magnam nisi obcaecati, optio qui quos
      reiciendis
      vitae voluptatibus. Consectetur cumque delectus dolorem, eligendi eum harum minus modi odit pariatur quia
      quibusdam
      quod quos repellat voluptas voluptate? Aliquid asperiores at cumque cupiditate dicta dolorem ea, eaque et fuga
      iure
      iusto laboriosam laudantium molestiae mollitia odit officia perferendis perspiciatis porro rem sequi sint tenetur
      ut
      vel veritatis voluptate. Molestias quis quo quos? Ab adipisci aliquam, aspernatur beatae culpa doloribus dolorum,
      error id molestias odio quaerat quo saepe. Ab accusamus adipisci, aliquid amet assumenda consectetur cum dolor
      eligendi enim error eum expedita explicabo, illum iste minima minus modi nihil non odio odit perferendis possimus
      provident quis quo quod repudiandae veniam vero voluptas voluptatem voluptatibus. Animi aperiam aut dolore fugiat
      illum labore nemo quod reiciendis repellat. Aliquam consequatur cupiditate eos error est facere harum illo
      maiores,
      nesciunt quam quasi quidem voluptas. A aspernatur at explicabo quae quisquam reprehenderit suscipit voluptatem?
      Atque
      fugit ipsa porro praesentium quibusdam quo reprehenderit sunt ullam unde? A delectus dolor esse fugit in, incidunt
      labore maiores nisi numquam placeat porro quasi sint! Ab corporis cumque dignissimos eius eum ex excepturi facilis
      fuga in ipsam nam neque numquam odio, perspiciatis provident quae saepe similique sit tempore temporibus.
      Accusantium
      delectus doloremque laudantium mollitia, omnis quae rerum voluptatem! Accusamus ad eligendi exercitationem
      expedita
      explicabo incidunt inventore, ipsam officiis perferendis quo? Beatae consequuntur doloribus eveniet fuga molestias
      perferendis, quidem sint. Architecto autem consectetur dolorem et ex excepturi harum id in ipsam natus
      necessitatibus
      omnis qui quisquam similique suscipit, totam voluptatibus! Aspernatur debitis deserunt fugiat laborum quaerat
      rerum
      unde!
    </div>
  </div>
</div>
