@import "src/main-styles";
.container {
  display: flex;
  position: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  width: 70%;
  justify-content: center;
  border-radius: 20px;
  margin-top: 3rem;
  background-color: #fff;

}
body {
  font-family: 'Space Grotesk' !important;
  display: flex !important;
  flex-direction: column !important;
}





#header{
  color: black;
  font-weight: 500;
  font-size: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}




