@import "src/main-styles";

.container {
  display: flex;
  position: center;
  align-items: center;
  align-content: center;
  width: 50rem;
  justify-content: center;
  border-radius: 40px;
  margin-top: 3rem;
  background-color: #fff;

}

.content{
  display: flex;
  position: center;
  align-content: center;
  align-items: center;
  width: 95%;
  height: 95%;
  flex-direction: column;
}


#header{
  font-weight: 1000;
  font-size: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}




