<div class="data-text">
  <ng-container *ngIf="isEdit">
    <ng-container *ngIf="isDate">
      <input  type="date" [(ngModel)]="text" placeholder="{{getText()}}" class="text italic">
    </ng-container>
    <ng-container *ngIf="!isDate">
      <input [(ngModel)]="text" placeholder="{{getText()}}" class="text italic">
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!isEdit">
    <div [class.none]="text == null || text==''" class="text"> {{getText()}}</div>
  </ng-container>
  <div class="pen-container">
    <ng-container *ngIf="!isEdit">
      <i class="fa-solid fa-pen pen" (click)="changeState()"></i>
    </ng-container>

    <ng-container *ngIf="isEdit">

      <i class="fa-solid fa-check pen" (click)="changeState()"></i>
    </ng-container>
  </div>
</div>

