<div class="login-panel">
  <img src="favicon.ico" class="icon">
  <div class="title-text">
    <h1>Sign in to <strong><a href="https://ag45.dots.org.ua/help" class="link">{{title}}</a></strong></h1>
  </div>

  <div class="login-content">
    <label class="info-text">Username</label>
    <input class="text-field" #nameInput>

    <label class="info-text">Password</label>
    <input type="password" class="text-field" id="password" #pwdInput>

    <button class="apply-button" id="login-button" (click)="login(nameInput.value,pwdInput.value)">Sign
      in</button>
  </div>

  <div class="newbie-content">
    <div id="newbie-link">New to <b><a href="https://ag45.dots.org.ua/help" class="link">{{title}}</a></b>? <a
        href="/register" id="link-signup" class="link">Sign up</a>!
    </div>
  </div>
  <div id="suportinfo">
    Supported by MandM team
  </div>
</div>
