<div class="login-panel">
  <img src="favicon.ico" class="icon">
  <div class="title-text">
    <h1>Sign in to <strong><a href="https://ag45.dots.org.ua/help" class="link">{{title}}</a></strong></h1>
  </div>

  <form class="form" [formGroup]="loginForm">
    <div class="form-content">
      <span class="error">{{passwordError}}</span>
      <label class="info-text">Username</label>
      <input class="text-field" formControlName="username" (ngModelChange)="clearPasswordError()" required>

      <label class="info-text">Password</label>
      <input type="password" class="text-field" id="password" formControlName="password" (ngModelChange)="clearPasswordError()" required>

      <button class="apply-button" id="login-button" (click)="login()">Sign in</button>
    </div>
  </form>
  <div class="newbie-content">
    <div id="newbie-link">New to <b><a href="https://ag45.dots.org.ua/help" class="link">{{title}}</a></b>? <a
        href="/register" id="link-signup" class="link">Sign up</a>!
    </div>

  </div>
  <!-- <div id="suportinfo">
    Supported by MandM team
  </div> -->
</div>