<div class="register-panel">
  <img src="favicon.ico" class="icon">
  <div class="title-text">
    <h1>Register to <strong><a href="https://ag45.dots.org.ua/help" class="link">{{title}}</a></strong></h1>
  </div>


  <div class="register-content">
    <span class="error">{{usernameEmpty}}</span>
    <div class="info-text">
      <p>Username</p>
    </div>

    <input class="text-field" #nameInput>


    <div class="info-text">
      <p>E-mail</p>
    </div>
    <input type="email" class="text-field" id="email" #emailInput>
    <span class="error">{{passwordMatch}}</span>
    <div class="info-text">
      <p>Password</p>
    </div>
    <input type="password" class="text-field" id="password" #password1Input>
    <div class="info-text">
      <p>Repeat Password</p>
    </div>
    <input type="password" class="text-field" id="repeat-password" #password2Input>


    <button class="apply-button" id="register-button"
            (click)="register(nameInput.value,emailInput.value,password1Input.value,password2Input.value)">Register
    </button>
  </div>

  <div class="newbie-content">
    <div id="newbie-link">Have an account?<a href="/login" id="link-signup" class="link">Sign in</a>!</div>
  </div>
  <div id="suportinfo">
    Supported by MandM team
  </div>
</div>
