<div class="register-panel">
  <img src="favicon.ico" class="icon">
  <div class="title-text">
    <h1>Register to <strong><a href="https://ag45.dots.org.ua/help" class="link">{{title}}</a></strong></h1>
  </div>


  <form class="form" [formGroup]="registerForm">
    <div class="form-content">
      <span class="error">{{usernameEmpty}}</span>
      <label class="info-text">Username</label>
      <input class="text-field" formControlName="username" (ngModelChange)="clearUsernameError()" required>

      <label class="info-text">E-mail</label>
      <input type="email" class="text-field" id="email" #emailInput formControlName="email" required>

      <span class="error">{{passwordMatch}}</span>
      <label class="info-text">Password</label>
      <input type="password" class="text-field" id="password" formControlName="password" (change)="clearPasswordError()" required>

      <label class="info-text">Repeat Password</label>
      <input type="password" class="text-field" id="repeat-password" formControlName="password2" (change)="clearPasswordError()" required>


      <button class="apply-button" id="register-button"
        (click)="register()">Register
      </button>
    </div>
  </form>

  <div class="newbie-content">
    <div id="newbie-link">Have an account? <a href="/login" id="link-signup" class="link">Sign in</a>!</div>
  </div>
  <!-- <div id="suportinfo">
    Supported by MandM team
  </div> -->
</div>