
.bot {
  margin-bottom: 1rem;
  padding: 2rem 8rem;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

span {
  font-size: 2.2rem;
  color: black;
}

#name {
  width: 30%;
}

#lang {
  width: 25%;
}

#date {
  width: 25%;
}

.edit-buttons {
  width: 20%;
  display: flex;
  justify-content: flex-end;

}


#edit {
  //transform: scale(1,1.2);
  cursor: pointer;
  transition: color 0.08s;

  &:hover {
    color: #45DCCA;
  }
}

#delete {
  //width: %;
  //transform: scale(1.2,1.2);

  cursor: pointer;
  transition: color 0.08s;

  &:hover {
    color: #FF6767;
  }
  margin-left: 5rem;
}
