<div class="bot">
  <span id="name"><b>{{name}}</b></span>
  <span id="lang">{{language}}</span>
  <span id="date">{{date}}</span>
  <div class="edit-buttons">
    <span id="delete"><i class="fa-solid fa-trash-can"></i></span>
    <ng-container *ngIf="state != 1 && state != -1">
      <div id="interact"><img src="assets/images/gear.png"></div>
    </ng-container>
    <ng-container *ngIf="state == 1">
      <span id="tick"><i class="fa-solid fa-check"></i></span>
    </ng-container>
    <ng-container *ngIf="state == -1">
      <span id="cross"><i class="fa-solid fa-xmark"></i></span>
    </ng-container>

  </div>
</div>
