@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import "src/main-styles";

#username {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: $yellow;
}

#title-icon {
  width: 3.45rem;
  height: 3.45rem;
  margin-left: 5.6rem;
}


#top-panel-buttons {
  margin-left: 2.5rem;
}

#or {
  font-size: 0.9rem;
}

.register-or-login {
  color: $text-color;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  &:hover{
    color:$yellow;
  }
}

#end{
  margin-right: 2.5rem;

}
