@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import "src/main-styles";

#username {
  font-size: 1.8rem;
  margin-right: 1rem;
  color: $yellow;
}

#title-icon {
  width: 3rem;
  height: 3rem;
}


#top-panel-buttons {
  margin-left: 2.5rem;
}

#or {
  font-size: 0.9rem;
  margin-left: 1rem;
}

.register-or-login {
  color: $text-color;
  font-size: 1.5rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  &:hover{
    color:$yellow;
  }
}

#end{
  //margin-right: 2.5rem;
}

#logout{
  cursor: pointer;
  transform: scale(2,2);
  color: $text-color;
  &:hover{
    color: $yellow;
    transform: scale(2.1,2.1);
  }
}



