<div class="top-panel">
  <img id="title-icon" src="../../../favicon.ico" alt="Agenta">
  <span class="agenta-title">{{title}}</span>
  <div id="top-panel-buttons">
    <button [class.selected]="isButtonSelected('news')" class="tab-button" routerLink="news/0">News</button>
    <button [class.selected]="isButtonSelected('games')" class="tab-button" routerLink="games">Games</button>
    <button [class.selected]="isButtonSelected('help')" class="tab-button" routerLink="help">Help</button>
  </div>
  <div class="right-part">
    <img class="account" src="assets/images/account.svg" [class.selected]="isButtonSelected('account')"
         routerLink="account">
  </div>
</div>
