
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import "src/main-styles";

.tab-button {
  color: $block-color;
  border-width: 0;
  background-color: transparent;
  font-size: 25px;
  font-weight: 400;
  margin-left: 1rem;
  cursor: pointer;
  font-family: "Space Grotesk";
  &:hover {
    color: $yellow;
  }
  &.selected {
    color: $yellow;
    font-weight: 600;
    text-decoration: underline;
  }
}

#top-panel {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5rem;
}

#title-icon {
  width: 3.45rem;
  height: 3.45rem;
  margin-left: 5.6rem;
}

#title {
  color: black;
  font-weight: 1000;
  font-size: 35px;
  margin-left: 1rem;
}

#top-panel-buttons {
  margin-left: 2.5rem;
}
