<div class="header">
    <h1 class="header-text">CHESS GAME STANDINGS</h1>
</div>

<div id="standings">
    <app-standings-block [nickname]="'ElMishucha'" [num]="1"></app-standings-block>
    <app-standings-block [nickname]="'Maxim'" [num]="1"></app-standings-block>
    <app-standings-block [nickname]="'Platowka'" [num]="3"></app-standings-block>

    <div id="line"></div>

    <app-standings-block [nickname]="'Krutoi'" [num]="4"></app-standings-block>
    <app-standings-block [nickname]="'Bot123'" [num]="5"></app-standings-block>
    <app-standings-block [nickname]="'PDDf_qwe'" [num]="6"></app-standings-block>
    <app-standings-block [nickname]="'QWERTY'" [num]="7"></app-standings-block>
    <app-standings-block [nickname]="'itak_dalee'" [num]="8"></app-standings-block>
</div>
