<div class="header">
    <h1 class="header-text">{{game.name.toUpperCase()}} GAME STANDINGS</h1>
</div>

<div id="header">
    <h3 class="qwe" id="rank">Rank</h3>
    <h3 class="qwe" id="name">Name</h3>
    <h3 class="qwe" id="score">Score</h3>
    <h3 class="qwe" id="time">Time</h3>
</div>

<div id="standings">
    <ng-container *ngFor="let champion of champions">
        <app-standings-block [nickname]="champion.name" [num]="champion.rank" [score]="champion.score" [time]="champion.time"></app-standings-block>
    </ng-container>
</div>
