@import "src/main-styles";

#standings {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#line {
    margin: 1rem 0rem;
    border: dashed rgba(100, 100, 100, 0.369);
    border-width: 0px;
    border-top-width: 2px;  
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

#header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    
}

.qwe {
    font-weight: 600;
    font-size: 1.4rem;
    color: #6B6B6B;
}

#rank {
    width: 4rem;
}

#name {
    margin-left: 1rem;
    width: 50%;
}

#score {
    width: 20%;
}

#time {
    width: 30%;
}