<div class="New" [class.open]="isOpen" [class.close]="!isOpen" (click)="click()">News
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit laudantium nemo nesciunt possimus, quasi quod velit
  vitae. Eius perspiciatis sit velit! Assumenda at consequatur corporis laudantium quasi! Aliquid architecto aspernatur
  assumenda earum et pariatur quam qui veritatis. Ad animi aperiam assumenda dicta distinctio dolorem dolores eum fugiat
  itaque, maxime nam nulla odit, quas quibusdam quidem reiciendis repellat ullam. Aliquam molestiae nemo neque
  repellendus sit. Ab aut beatae blanditiis corporis culpa cum dicta eos ex expedita facilis id illo illum iste itaque
  iusto laboriosam magni minima mollitia nostrum numquam obcaecati, officiis repellendus reprehenderit repudiandae unde
  vel vitae voluptatum. Accusamus aspernatur blanditiis deserunt dolorum ducimus et, exercitationem fugit, iure magnam
  nam natus non, obcaecati odio porro quae recusandae repellat vel voluptatem. Accusantium aliquid dolor dolores ea
  eaque earum enim eveniet facilis fuga fugiat id illo, iste libero magnam maxime modi nemo nulla officiis optio placeat
  possimus qui quidem quisquam saepe tempore ut, vel. Asperiores atque consectetur eius eos error necessitatibus placeat
  provident, quas qui suscipit, ullam voluptate voluptatibus. Ab amet animi autem blanditiis cumque exercitationem
  expedita facere inventore iusto laudantium magnam, molestias nisi non nulla perferendis placeat possimus quam ratione
  saepe sunt suscipit temporibus, tenetur velit veritatis, voluptate? Accusantium aperiam asperiores cumque doloribus
  earum eligendi hic impedit nesciunt nihil numquam obcaecati, placeat quae quaerat reiciendis reprehenderit ullam
  veritatis. A ad animi asperiores aut commodi deserunt error expedita fuga, id iste nihil non officia officiis optio
  pariatur porro quae quaerat qui reiciendis sapiente sequi temporibus vitae voluptatibus! A aliquid culpa dignissimos
  eligendi exercitationem ipsa nihil, omnis quis rem unde. Accusamus alias amet aperiam at beatae culpa cum cupiditate
  debitis dolore eaque eius enim est expedita harum hic id in incidunt itaque iure iusto magnam molestias nam
  necessitatibus neque nesciunt nostrum numquam optio porro quibusdam, quo reprehenderit sint sit totam, ullam ut veniam
  vitae? Ad adipisci alias, aliquam at consequatur cupiditate eius illum laboriosam laudantium modi molestias non
  praesentium saepe soluta, suscipit tempore veniam vitae! Beatae deserunt earum fugiat unde. A ab ad, adipisci aut
  cupiditate, delectus doloribus ducimus eaque eos et excepturi, fuga fugiat fugit incidunt ipsam maxime molestias natus
  numquam possimus quas quidem quos reprehenderit sequi sunt vero voluptas voluptate voluptatem! Eaque, optio,
  reprehenderit! Eos explicabo ipsa nihil nostrum quaerat suscipit vel. Adipisci amet animi asperiores, at aut commodi
  dolorem eaque esse et eum eveniet facilis illum laborum magnam molestiae natus nesciunt nisi, nostrum nulla odio
  praesentium quia quos recusandae rem sapiente sequi temporibus unde ut vitae voluptatum! Ad aliquid, assumenda
  eligendi minima nemo nostrum provident quas ratione sapiente sit. Ab ducimus illo, ipsum maxime non nostrum quas quis
  unde ut velit! A alias aliquid, blanditiis consequatur, corporis deserunt doloremque ducimus error harum nam non optio
  possimus quo sunt veritatis! Amet aspernatur at culpa cupiditate deserunt doloremque eligendi eos esse exercitationem
  expedita illum incidunt ipsam iure maiores mollitia nulla officia porro praesentium quidem, quis quo saepe similique
  ut. Earum repellendus temporibus tenetur. Ad amet aut culpa dolorem eligendi, enim excepturi explicabo harum inventore
  maiores nemo nobis, omnis provident quisquam quod quos rem tenetur unde, veritatis vero! Aliquid animi dolore eligendi
  eveniet ex excepturi, harum magni pariatur quibusdam rerum suscipit ullam unde voluptate! Alias aspernatur distinctio
  dolorem dolorum ducimus eius enim laboriosam, nobis perferendis possimus quasi quibusdam quisquam reiciendis repellat
  repellendus suscipit tempora vel? Aperiam at culpa cumque illum inventore iure magnam nihil qui ut voluptates. Alias
  atque consequatur eos est eum, eveniet fugiat, ipsum itaque laboriosam perferendis quas quisquam reprehenderit
  voluptas. Accusamus ad assumenda at autem consequatur consequuntur culpa deserunt, error expedita inventore iste iure
  molestiae molestias nihil qui, soluta voluptas, voluptates. Asperiores aspernatur dignissimos distinctio enim
  molestias neque reiciendis rem temporibus vitae voluptates? Ab ad adipisci aliquam aperiam consequatur consequuntur
  corporis culpa cum cumque, dolore dolorem doloremque ea esse illo incidunt ipsam libero mollitia nam natus
  necessitatibus nihil numquam perspiciatis possimus quasi quibusdam quisquam quod repellat reprehenderit saepe sapiente
  tempore temporibus ullam unde. Aliquam blanditiis debitis, error laboriosam mollitia odio quaerat quibusdam
  recusandae. A accusamus, animi consequatur cumque debitis esse exercitationem expedita laborum magni, minus placeat
  rerum voluptates, voluptatum. Ad amet commodi cupiditate dignissimos distinctio fugit libero minus porro provident
  reiciendis rem saepe tempora, tenetur voluptate voluptates. At commodi doloribus inventore iusto quibusdam! Ab
  accusantium architecto, at culpa cupiditate distinctio dolore, eaque earum ex facilis fugit illum ipsa itaque iusto
  magni modi natus nisi odit omnis quisquam repudiandae rerum sed sint soluta veritatis vitae voluptatum? Assumenda
  excepturi hic ipsa iusto laborum mollitia nulla quam quasi similique vel. Assumenda aut consectetur culpa earum eius
  enim facere harum impedit necessitatibus neque nihil, officia quasi quo repudiandae rerum ullam unde vel, voluptatum!
  Alias architecto consequatur cupiditate doloribus labore necessitatibus odit perspiciatis praesentium reprehenderit
  vitae. Ea earum, illo iste magni nam, nulla obcaecati perspiciatis possimus quos rerum sed soluta vel voluptates.
  Alias aliquid at, atque autem beatae consectetur consequuntur debitis delectus eaque eius eos expedita fugit impedit
  incidunt ipsa itaque magni maiores maxime modi nam odit officia optio perspiciatis porro quae quia quod quos
  repellendus rerum ullam vel velit veritatis voluptatibus. Aliquam cupiditate dignissimos facilis iusto nemo, quia
  voluptate! Aspernatur corporis debitis delectus quaerat voluptas! Aliquam animi at aut cum dignissimos distinctio
  ducimus exercitationem hic id impedit, ipsum nesciunt qui quod saepe sapiente similique vitae voluptatem! Aliquam,
  architecto assumenda beatae cupiditate delectus deserunt dicta dolor doloribus ex expedita, fuga impedit iste iusto,
  magnam mollitia neque nulla praesentium provident ratione sit. Aut, omnis vero? Accusamus, delectus esse expedita
  facere ipsa provident tempore vero! Aspernatur assumenda blanditiis delectus esse exercitationem fugiat, harum laborum
  magnam, molestias numquam obcaecati placeat possimus quasi temporibus veniam! Ab aspernatur consequuntur, ea eius
  fugit, laboriosam nulla pariatur, quia tempore unde voluptas voluptate! Asperiores aut cum doloremque eligendi enim
  eos et, eum expedita facere iste iusto magnam maiores minus modi molestias odio, perspiciatis possimus quam reiciendis
  rem sequi totam, voluptate? Architecto atque cum debitis delectus deleniti, dignissimos ea eius esse explicabo fugit
  ipsam laborum laudantium minus necessitatibus nihil nulla pariatur perspiciatis placeat quam quisquam recusandae rem
  reprehenderit similique temporibus ullam vel veritatis. Accusantium corporis distinctio dolore ducimus eaque impedit
  in necessitatibus nesciunt reprehenderit vero.
</div>
