@import "src/main-styles";

.content {
  width: 100% !important;
  height: 100% !important;
  display: flex !important;
  flex-direction: column;
}

.New {
  // cursor: pointer;
  //position: center;
  display: flex;
  //position: center;
  //align-items: center;
  //align-content: center;
  // justify-content: center;
  width: 45% !important;
  //height: 20rem;
  color: $text-color;
  background-color: $block-color2;
  border-radius: 10px;
  margin: 1rem auto 4rem;
  transition: transform 0.06s, height 0.7s, box-shadow 0.06s;
  box-shadow: 2px 2px 10px 1px rgb(0, 0, 0, .15);
  overflow-y: hidden;

  // &:hover {
  //   box-shadow: 2px 2px 20px 1px rgb(0, 0, 0, .3);
  //   transform: scale(1.005);
  // }

  // &.open {
  //   max-height: 100rem;
  //   //max-height: 1000rem;
  //   overflow-y: scroll;
  // }

  // &.close {
  //   max-height: 20rem;
  //   overflow-y: hidden;
  // }

}

.text {
  //display: flex;
  //align-content: center;
  //align-items: center;
  width: 90%;
  height: 99%;
  //flex-direction: column;
  padding-bottom: 1.2rem;
}


#title {
  width: 90% !important;
  height: 100% !important;
  margin-top: 1rem;
}