<div class="New" [class.open]="isOpen" [class.close]="!isOpen" (click)="click()">
  <div class="text">
    1 2 3 4 5
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad aliquam beatae commodi corporis delectus dolore, eos
    error, eum facere fugiat id itaque iusto maiores minus molestiae nihil optio quae quasi quibusdam repellat sapiente
    sed similique sint soluta ut vitae voluptatum! Aperiam ipsam laborum nostrum quos soluta veritatis! Ab asperiores
    assumenda consequatur, dicta dignissimos eius illum ipsam perspiciatis placeat reiciendis sunt tenetur, ut veritatis
    voluptate voluptatibus? Ab accusamus aliquid animi architecto, blanditiis distinctio eaque facere fugiat illum
    impedit
    in laudantium, nam nemo nesciunt placeat praesentium quia quos sed sequi sunt, ullam velit voluptate! Distinctio nam
    nisi unde? Dolorum ducimus, eaque eos error est eveniet explicabo facere ipsum itaque, neque nostrum odit officiis
    recusandae reiciendis sapiente, vero voluptas! Adipisci architecto assumenda at blanditiis commodi cum deserunt,
    distinctio dolores ea eaque enim eos ex exercitationem fugiat hic impedit in iusto modi molestiae molestias nesciunt
    nihil optio, provident quaerat quas quibusdam quisquam quo quos ratione recusandae reprehenderit tempore ullam vel
    voluptate voluptatem voluptates voluptatibus. Ad aperiam dolorem ea eius enim error exercitationem fugiat fugit iure
    iusto nisi nulla officia pariatur porro praesentium quos reiciendis, repellat sapiente tenetur ullam veniam vero
    voluptate? Animi commodi consequuntur dicta dolorem fuga fugiat harum, necessitatibus repudiandae. Ad assumenda
    corporis eligendi ex quas quidem quisquam ut. Esse fugiat laborum nobis porro rerum, totam. Adipisci amet aperiam
    aut
    blanditiis debitis deserunt dicta doloremque ea esse et magnam, minus, numquam reprehenderit repudiandae sapiente
    sed
    sit, vitae voluptate voluptates voluptatibus? Et in magnam maxime porro quod sit tempora velit! A ad assumenda aut
    consequatur ea, facere, ipsa ipsum laudantium modi porro possimus quasi, quia similique sint voluptatem! Aperiam aut
    cumque itaque laboriosam laborum non nulla omnis perspiciatis possimus quam, quas quidem recusandae reprehenderit
    sapiente, tempore ullam voluptatem? Adipisci animi assumenda atque id illum inventore odio praesentium quia sequi
    unde. Adipisci animi asperiores autem consequuntur debitis dignissimos distinctio doloribus ducimus, earum enim est
    et
    iste laboriosam, laudantium libero modi nulla numquam obcaecati quia quos recusandae saepe suscipit tempora ullam
    voluptatibus! Aliquam aspernatur commodi consectetur cupiditate, debitis delectus dolore eligendi ex in iure magnam
    modi nam nemo nihil nisi odit pariatur placeat possimus quo recusandae saepe sint tempore veniam vero voluptatem. Ex
    illo inventore maiores quibusdam! Ad amet deleniti dolores ea esse explicabo, inventore, iure labore maxime nam
    natus
    nesciunt numquam omnis provident quam quibusdam quod sequi totam voluptas voluptatibus? Aliquam at consectetur
    cumque
    cupiditate delectus dolorem doloribus eaque earum eius et eum ex fugit id ipsa ipsam iusto, libero magnam modi nam,
    necessitatibus officia pariatur possimus, qui tempore veritatis. Animi distinctio ducimus, enim eveniet fugiat
    incidunt itaque laboriosam minima molestias, mollitia obcaecati pariatur perspiciatis, praesentium reiciendis rem
    tempora veritatis? Ab animi atque corporis delectus dicta distinctio hic impedit iure labore nulla, odio pariatur
    porro quae, quod, rem saepe velit? A alias beatae consectetur consequuntur dolor fuga illo illum impedit inventore
    ipsum iusto minima neque nostrum omnis possimus qui quia quisquam rem repellendus repudiandae sapiente sint sunt,
    veniam veritatis, voluptas! Accusantium aperiam architecto asperiores aspernatur atque consectetur delectus deserunt
    enim eos hic illo inventore iste laboriosam laborum maiores modi mollitia nemo nostrum quidem tempora, vel velit
    vitae? A ad aperiam at atque blanditiis dignissimos dolore error eum eveniet excepturi fuga hic ipsam laboriosam
    maxime minima nihil nisi nostrum perferendis placeat porro quaerat quidem quis ratione, repellat sapiente sunt
    ullam.
    Accusamus accusantium ad architecto at consequuntur corporis dicta dignissimos distinctio dolores eius eligendi
    eveniet ex fuga illo in laborum magni nam neque non nostrum odit officiis, possimus quaerat, quia reiciendis rem
    repellendus sed similique sit sunt, tempore temporibus veritatis voluptatum! Aut deleniti doloremque dolorum ea
    excepturi facilis harum impedit, incidunt ipsam nostrum quas, tenetur voluptatibus? Aliquid aspernatur dolorum eos
    esse ex, excepturi, fuga incidunt iure magnam molestias mollitia natus reiciendis sed tenetur ut. Aliquam at dolorum
    impedit perferendis, porro recusandae similique sint tempora tenetur voluptates! Amet autem cum, debitis dolore
    fugiat
    ipsum libero, maxime natus numquam perferendis, sunt ullam ut voluptate voluptatem voluptatum. Commodi consectetur
    cum
    debitis dignissimos dolor dolorem doloribus eligendi eum exercitationem facere id inventore ipsam iure magnam minus,
    nostrum odio optio perspiciatis placeat praesentium quibusdam quis ratione recusandae ut voluptatibus?
    Exercitationem
    obcaecati provident quae quos voluptates. Ab ad, asperiores corporis dolor doloremque exercitationem, illo illum
    incidunt mollitia nesciunt numquam optio possimus quam saepe sit temporibus tenetur ullam? Consequatur, distinctio
    est
    hic in itaque nisi perspiciatis quia quos ullam voluptatem. Aliquam aliquid amet animi aut debitis dolorem earum
    eligendi exercitationem expedita harum incidunt itaque iure iusto magni modi natus odio provident quo, quod ratione
    recusandae repellat repudiandae sed sequi soluta sunt tempora tempore tenetur vero voluptas. Autem commodi fuga in
    incidunt, quibusdam tempore. Ad, asperiores atque beatae, dolores eligendi enim, error illum in itaque labore magnam
    mollitia nobis quia repellat tenetur veniam vitae! Ab, at beatae debitis, deserunt dicta eaque enim et nulla
    sapiente
    sequi soluta tempora ut voluptates. Aperiam aspernatur blanditiis consectetur consequuntur cumque deleniti eveniet,
    illo ipsam maxime modi molestiae molestias, necessitatibus nisi repellendus repudiandae, sed tempora voluptatem
    voluptates. Adipisci consequuntur dolor dolores ea eligendi eveniet excepturi facilis fugiat, ipsa laudantium
    minima,
    molestias nemo nihil odit pariatur quae quas qui quo quos repellat, sed soluta sunt tempora temporibus unde vel
    voluptatem! Cupiditate dolores dolorum exercitationem, fuga in necessitatibus obcaecati placeat quod sed similique
    sit
    tenetur unde voluptatem. Adipisci cum distinctio eligendi expedita itaque quae quam? Ab, aliquam culpa distinctio
    dolor ducimus enim error facilis harum hic impedit ipsa laudantium minus mollitia nesciunt odit optio quas quod sint
    tempora temporibus ullam unde veniam vero. Adipisci amet asperiores aspernatur assumenda blanditiis consectetur
    consequatur corporis deserunt dolorem ducimus, explicabo fugit ipsam iste molestiae molestias mollitia non placeat
    quas quo rem repellendus soluta voluptate! Alias autem, consectetur consequatur cumque debitis, enim exercitationem
    fugit minima mollitia neque obcaecati placeat quae quod, recusandae saepe similique soluta temporibus tenetur!
    Accusantium asperiores cupiditate doloremque ea eius est fuga, laboriosam laborum maxime minima molestias nesciunt
    quos totam! Accusantium alias architecto cumque delectus dicta dolorum ducimus eaque enim facere harum impedit
    itaque
    laboriosam molestias nam nihil nobis perspiciatis provident quaerat quas quibusdam quis quisquam, repellendus soluta
    suscipit tempora, tempore temporibus velit!
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi delectus dolorum ea eligendi hic impedit iusto,
    omnis
    pariatur perferendis, quisquam quod ratione sapiente sed suscipit temporibus ullam veritatis? Autem deleniti dolor
    dolore ducimus facilis, molestiae quibusdam similique tempore vel! Adipisci asperiores autem dignissimos enim et
    ipsa
    ipsam iusto labore magnam possimus quidem rerum saepe sunt, velit voluptatem? Dolor hic libero molestias natus
    obcaecati officiis quam quo recusandae repudiandae. Accusantium adipisci aliquid architecto aut, consequuntur
    corporis
    debitis, earum eos harum illum impedit in incidunt iusto magnam magni maiores maxime minima molestiae nulla odio
    quam
    quia quisquam quos reiciendis rem ullam voluptatem? Aliquid consequuntur, distinctio est ipsa laboriosam nesciunt
    pariatur provident quas qui ratione sunt vero? Animi asperiores atque autem beatae est, fuga harum neque nihil quia
    reiciendis sed veniam veritatis. A accusantium adipisci alias architecto, corporis culpa distinctio doloremque enim
    esse eum ex hic in labore maxime nisi, nobis optio pariatur perspiciatis porro possimus recusandae saepe, sed soluta
    unde voluptatem. Adipisci aperiam dolorum earum ex explicabo harum illo ipsa laudantium minus molestiae odio officia
    placeat provident quasi quibusdam quod sint tempore totam veritatis, vero. Autem cumque eius excepturi quaerat
    tempora
    tenetur? Accusantium adipisci beatae commodi consectetur cumque expedita facere inventore ipsa, mollitia odit
    officia
    pariatur quia recusandae. Doloremque impedit magnam molestias obcaecati repudiandae sequi? Accusamus enim error est
    ex
    id nihil nulla numquam reiciendis, sed! Assumenda cum et facilis maxime mollitia nemo qui quos, vel velit veniam?
    Accusantium consectetur deleniti doloribus eius fugit illo impedit itaque iure maxime, modi, perferendis similique
    sunt! Accusantium ad, aperiam at autem hic incidunt ipsum, laboriosam libero nihil odio quis repellendus sapiente
    tempore totam veritatis! Commodi, dolorum earum error esse fugiat id illum incidunt ipsa magni quasi sequi tempora
    tempore, ullam! Ad at atque commodi consequuntur corporis cum dolorem doloribus dolorum excepturi fugit harum ipsa
    iure laborum laudantium, nam neque nulla obcaecati officiis pariatur porro possimus praesentium provident quia, quo
    ratione sed suscipit tempore tenetur veniam vero. Atque autem consectetur deleniti, dolorum maiores, molestiae nam
    nihil quae quam qui ratione totam vero voluptatem? Aspernatur consequatur eligendi exercitationem placeat ratione
    reiciendis, sed. Obcaecati, quaerat quia! Ab accusantium alias aspernatur at autem deserunt distinctio doloribus
    eius
    expedita minus molestiae nobis quos rem repellat sapiente sint ut, voluptates. Beatae doloremque et id incidunt
    iusto
    nam omnis perferendis repellat repellendus vel! Accusantium cumque error hic laboriosam quidem quo, ratione tempore.
    Ab adipisci corporis deleniti maxime neque obcaecati. Corporis culpa dignissimos dolorum, ea earum eos et harum in
    ipsum nobis quae quia quibusdam, quidem quisquam reprehenderit similique totam vitae. Aliquam autem ea laboriosam
    pariatur rem reprehenderit, tempore veniam voluptatem. Ab laboriosam laborum, magnam nihil quas qui veniam.
    Accusamus
    aliquid aut blanditiis debitis dignissimos eaque excepturi expedita, laborum nihil vitae? Ad assumenda autem
    blanditiis culpa deleniti, est explicabo fugit harum ipsam itaque labore molestiae molestias nobis non officia quasi
    quisquam ratione repudiandae rerum sequi similique sit soluta tenetur, ut vero voluptas voluptatibus! Adipisci
    aliquam
    aliquid architecto debitis deserunt enim, eos et eveniet fugiat, fugit harum id iusto minus neque nihil obcaecati
    quaerat rem sed sit soluta tempore temporibus ut velit veniam veritatis vero voluptatum. Ab consequuntur dolorem
    expedita nulla sint voluptas? Aut commodi cupiditate dolore doloremque impedit iste, necessitatibus! Ad adipisci
    asperiores aut delectus deleniti dolore dolorem doloremque dolores ducimus eum fuga in laudantium magni minima
    numquam
    perspiciatis praesentium provident qui, quibusdam rem saepe sint voluptatibus voluptatum. Ab corporis deleniti dolor
    facere quia quibusdam quod totam unde! Asperiores consequatur delectus ea in, iusto officia. Aliquid aut cum cumque
    deserunt ducimus eveniet ex impedit ipsam, libero magni, molestias nisi officia placeat quaerat sint, vel
    voluptatibus! Enim esse qui quo quos voluptates! Eum ipsum laboriosam perspiciatis quae, quia ut. Amet at atque aut
    blanditiis, consectetur consequatur dolorem eaque, error est et, ex exercitationem explicabo fugit harum in
    inventore
    iste laboriosam nobis nulla tempora? A aliquam aperiam atque dicta eum inventore libero molestias nobis omnis,
    perferendis praesentium quod rerum sunt totam veritatis? Adipisci doloribus eligendi labore natus quae quidem quos
    rem
    sint, vero voluptatibus? Cumque dolore facere, fuga in inventore nemo numquam officiis quaerat sed voluptatibus. Cum
    ducimus fuga iure minima omnis reiciendis, voluptas. Accusantium adipisci amet aspernatur autem blanditiis delectus
    dignissimos ea eaque eius error eum ex excepturi expedita fuga illo ipsum itaque laudantium maiores maxime modi
    necessitatibus neque non nostrum, officiis perferendis porro quidem quos sapiente sed, similique sit, ullam
    voluptatem
    voluptates. Aliquid architecto autem beatae, consectetur cumque distinctio dolorum eaque, facere nam natus
    perferendis
    voluptatum. Accusantium aliquid animi architecto assumenda autem consectetur culpa, cupiditate distinctio eius eum
    fuga fugiat id incidunt ipsa iusto labore laudantium maiores maxime minima officia optio perferendis praesentium
    quas
    quia quidem quod reprehenderit repudiandae rerum sed similique, tenetur voluptate voluptates voluptatibus! Adipisci
    aperiam deleniti ipsa natus, non ratione recusandae sint voluptas? Ab alias aliquam aliquid aspernatur at
    consectetur
    consequatur cumque delectus doloremque eos esse et eum expedita, facere hic in, inventore ipsa minus modi molestias
    nam neque nesciunt nostrum officiis perferendis quae quas quidem quisquam sapiente sequi similique sunt temporibus,
    tenetur ullam vel voluptas voluptatum. Aliquid amet at blanditiis culpa excepturi expedita fugiat impedit incidunt
    iste maxime, neque nostrum numquam odio quae, repellendus sapiente tempora tenetur ullam velit voluptate!
    Accusantium
    ad alias aliquid aperiam architecto at autem cum cupiditate delectus ducimus, earum eius enim eos est ex facilis
    fugiat fugit inventore itaque laborum libero maxime minima mollitia numquam odit officiis provident quam quasi qui
    quibusdam quidem quo repellendus reprehenderit sequi sit voluptatem voluptatibus. Corporis maiores neque quis. A
    accusantium aperiam atque commodi, corporis cum distinctio dolore dolores doloribus eos ipsum laudantium magni natus
    nemo nisi porro repellendus, rerum sequi velit, voluptatem! Ab accusamus ad amet asperiores assumenda at autem
    blanditiis corporis doloremque eaque enim fugiat harum illo impedit iusto labore laudantium nostrum numquam omnis
    optio quaerat quis quo, quod recusandae rerum sapiente sequi similique sit soluta tempore temporibus tenetur ullam
    ut
    veniam veritatis, voluptates voluptatibus. Atque consequatur deleniti dolorum eum facere ipsa iusto minus nemo
    perspiciatis quae, quaerat quasi quod repellat tempora vitae! Ad alias aliquid excepturi facere illo incidunt nobis
    quam saepe! Aliquid earum facilis mollitia temporibus?
  </div>
</div>
