@import "main-styles";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.apply-button {
  display: flex;
  min-height: 1rem;
  color: $text-color;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: $background;
  border-style: solid;
  border-radius: 8px;
  border-width: 1px;
  border-color: $border-color;
  transform: scale(1);
  transition: border-width 0.1s, transform 0s, background-color 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    border-width: 3px;
    border-color: $yellow;
  }

  &:active {
    background-color: $yellow;
    color: white;
    transform: scale(0.99);
  }
}


.text-field {
  background-color: $background;
  border-radius: 6px;
  color: $text-color;
  font-size: 20px;

  border-color: $border-color;
  border-style: solid;
  border-width: 1px;

  width: 100%;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 2rem;

  transition: all 0.15s ease 0s;

  &:focus {
    outline: none;
    border-width: 3px;
    border-color: $yellow;
  }
}

.info-text {
  font-weight: 300;
  color: $text-color;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  justify-self: flex-end;
  margin-bottom: 0.4rem;
}

.title-text {
  margin-top: 0.6rem;
  font-weight: 600;
  color: #EEEEEE;
  font-size: 28px;
}

.newbie-content {
  color: $text-color;
  margin-top: 1.75rem;
  min-width: 30rem;
  min-height: 2.1rem;
  background-color: $background2;
  border-radius: 8px;
  border-style: solid;
  border-color: $border-color;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  color: $text-color;

  &:hover {
    text-decoration: underline;
  }
}

h1 {
  font-weight: 500 !important;
}

.tab-button {
  color: $text-color;
  border-width: 0;
  background-color: transparent;
  font-size: 1.15rem;
  font-weight: 400 !important;
  margin-left: 1rem;
  border-style: solid;
  border-color: #FFCF59;
  cursor: pointer;
  height: 4rem;
  line-height: 4rem;
  &:hover {
    color: $yellow;
  }

  transition: border-bottom-width 0.1s;

  &.selected {
    color: $yellow;
    font-weight: 600;
    border-bottom-width: 3px;
    //transform: scale(1.1, 1.1);
  }
}

.agenta-title {
  color: black;
  font-weight: 700;
  font-size: 2.1rem;
  margin-left: 1rem;
}




.account {
  margin-right: 2rem;
  transition: transform 0.1s;

  &:hover {
    transform: scale(1.1, 1.1);
  }

  cursor: pointer;

  &.selected {
    transform: scale(1.1, 1.1);
  }
}

#right-part {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
}


.right-part {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  //margin-right: 1rem;
}

.Header {
  //display: flex;
  text-align: center !important;
}

.header-text {
  margin-top: 4rem !important;
  text-align: center;
  color: black !important;
  font-size: 2.5rem !important;
}

.content-text {
  display: flex;
  text-align: center;

  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-content: center;

  height: 99%;
  font-size: 1.2rem !important;
  line-height: 1.5rem !important;
}

.top-panel {
  display: flex;
  flex-direction: row;
  height: 4rem;
  background-color: $background;
  align-items: center;
  border: 0px solid #D1D1D1;
  border-bottom-width: 1px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: #FF9292;
  font-size: 1rem;
  // margin-top: 2rem; 
  // margin-left: 1.2rem;
  margin-bottom: 1rem !important;
  display: flex;
  font-weight: 600;
}

.form {
  min-width: 30rem;
  background-color: $background2;
  border-radius: 8px;
  border-style: solid;
  border-color: $border-color;
  border-width: 1px;
  padding: 2rem 0rem;
}

.form-content {
  width: 85%;
  height: 100% !important;
  margin-left: auto;
  margin-right: auto;
}

.content {
  width: 85%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}