@import "main-styles";
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');

.apply-button {
  min-height: 1rem;
  color: $text-color;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  background-color: $background;

  border-style: solid;
  border-radius: 8px;
  border-width: 0px;
  border-color: $yellow;
  transform: scale(1);
  transition: border-width 0.1s, transform 0s, background-color 0s;
  cursor: pointer;
  outline: none;

  &:hover {
    border-width: 3px;
    color: $hovered-color;
  }

  &:active {
    background-color: $yellow;
    color: $hovered-color;
    transform: scale(0.99);
  }
}


.text-field {
  background-color: $background;
  border-radius: 6px;
  color: $text-color;
  font-size: 20px;

  border-color: $border-color;
  border-style: solid;
  border-width: 1px;

  width: 95%;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.15s ease 0s;

  &:focus {
    outline-width: 0px;
    border-width: 3px;
    border-color: $yellow;
  }
}

.info-text {
  font-weight: 300;
  color: $text-color;
  font-size: 20px;
  margin-top: 1rem;
  margin-left: 1.4rem;
}

.title-text {
  margin-top: 0.6rem;
  font-weight: 600;
  color: #EEEEEE;
  font-size: 28px;
}

.newbie-content {
  color: $text-color;
  margin-top: 1.75rem;
  min-width: 30rem;
  min-height: 2.1rem;
  background-color: $background2;
  border-radius: 8px;
  border-style: solid;
  border-color: $border-color;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.link {
  color: $text-color;

  &:hover {
    text-decoration: underline;
  }
}

.tab-button {
  color: $block-color;
  border-width: 0;
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 1rem;
  border-style: solid;
  border-color: #FFCF59;
  cursor: pointer;
  font-family: "Space Grotesk" !important;
  height: 5rem;

  &:hover {
    color: $yellow;
  }

  transition: border-bottom-width 0.1s;

  &.selected {
    color: $yellow;
    font-weight: 600;
    border-bottom-width: 3px;
    //transform: scale(1.1, 1.1);
  }
}

.agenta-title {
  color: black;
  font-weight: bold;
  font-size: 2.1rem;
  margin-left: 1rem;
  font-family: 'Space Grotesk';
}

.content {
  display: flex;
  position: center;
  align-content: center;
  align-items: center;
  width: 98%;
  //height: 98%;
  flex-direction: column;
}


.account {
  margin-right: 6rem;
  transition: transform 0.1s;
  &:hover{
    transform: scale(1.1,1.1);
  }

  &.selected{
    transform: scale(1.1,1.1);
  }
}

#right-part {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
}


.right-part {
  flex: 1 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Header {
  //display: flex;
  text-align: center !important;
}

.header-text {
  margin-top: 4rem !important;
  text-align: center;
  font-family: 'Space Grotesk' !important;
  color: black !important;
  font-size: 2.5rem !important;
  font-weight: bold !important;
}

.content-text {
  height: 99%;
  font-size: 1.2rem !important;
  line-height: 1.5rem !important;
}
.top-panel {
  display: flex;
  flex-direction: row;
  height: 5rem;
  background-color: white;
  align-items: center;
  border: 0px solid #D1D1D1;
  border-bottom-width: 1px;
}
