@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$white: #EEEEEE;
$yellow: #EBC465;
$background2: rgba(52, 52, 52, 0.4);
$background: #2E2E2E;
$blue: #58A6FF;
$light: #f8f8f8;
$border-color: #3F3F3F;
$light-black: #292C31;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html, body {
  height: 100%;
  font-family: 'Roboto';
}

html {
  background: linear-gradient(to right top, $background, $background);
}
