@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');
@import "src/main-styles";

#title-icon {
  width: 3.45rem;
  height: 3.45rem;
  margin-left: 5.6rem;
}


#top-panel-buttons {
  margin-left: 1.5rem;
}

.text {
  margin-right: 3rem;
  display: flex;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;

  color: #FF9292;
  transition: transform 0.1s;
}

#danger {
  color:#FF9292;
  width: 2.8rem;
  height: 2.8rem;
  margin-right: 0.6rem;
  margin-bottom: 0.4rem;
}

#arrow{
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  ////height:
  ////margin-top: 1rem;
  //background-color: #45DCCA;
  //margin: 0 0 0 0;
  text-align: center;
  //padding: 0 0 !important;
}
